* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container::after {
    content:none;
    display: table;
    clear: both;
}
.container{
    background-color: grey;
    margin: auto;
    height: 1000px;
}
/* header */
.testata{
    background-color: lightblue;
    width: 90%;
    height: 150px;
    margin: auto;
}
/* sezione pulsanti navigazione */
.navigation_section {
    height: 50px;
    width: 90%;
    background-color: orange;
    margin: auto;
}
li {
    display: inline-block;
}
.main_section