* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content:none;
    display: table;
    clear: both;
}
.container{
    background-color: grey;
    margin: auto;
    height: 1500px;
}
/* header */
.testata{
    background-color: lightblue;
    width: 90%;
    height: 150px;
    margin: auto;
}
/* sezione pulsanti navigazione */
.navigation_section {
    height: 50px;
    width: 90%;
    background-color: orange;
    margin: auto;
}
li {
    display: inline-block;
}
.main_section {
    height: 400px;
    background-color: red;
    margin: auto;
    width: 90%;
}
article{
    height: 200px;
    background-color: sandybrown;
    margin: auto;
    width: 90%;
}
.sidebar {
    width: 90%;
    height: 200px;
    background-color: greenyellow;
    margin: auto;
}
.sidebar_left{
    background-color: green;
    width: 25%;
    height: 200px;
    float: left;
    margin: auto;
}
.sidebar_center {
    background-color: white;
    width: 50%;
    height: 200px;
    float: left;
    margin: auto;
}
.sidebar_right {
    background-color: red;
    width: 25%;
    height: 200px;
    float: left;
    margin: auto;
}
.closing {
    background-color: teal;
    width: 90%;
    height: 150px;
    margin: auto;
}